{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: center;"><b>Hello! Please login here</b></h1>
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
    api_key:   81ay9ikfzqa277
    onLoad:    onLinkedInLoad
    authorize: true
</script>

<script type="text/javascript">
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getUserCompanies);
    }
    function getUserCompanies() {
        IN.API.Raw("/companies?format=json&is-company-admin=true").result(getFirstCompanyDetail).error(onError);
    }
    function getFirstCompanyDetail(data) {
        IN.API.Raw("/companies/" + data.values[0].id + ":(id,name,company-type,specialties,website-url,square-logo-url)?format=json").result(companyLogin).error(onError);
    }
    function companyLogin(company) {
        $.ajax({
            method: "POST",
            url: "/custom_auth/login/",
            data: {
                company_id: company.id,
                name: company.name,
                specialty: company.specialties.values[0],
                photo_url: company.squareLogoUrl,
                profile_url: company.websiteUrl,
                company_type: company.companyType.name,
            },
            success : function (response) {
                window.location.href = "/company/" + company.id + "/";
            },
            error : function (error) {
                console.log("error");
            }
        });
    }
    function onSuccess(data) {
        console.log(data);
    }
    function onError(error) {
        console.log(error);
    }
</script>

<hr>
<div style="text-align: center;">
        
<script type="in/Login">
    Halo
</script>

</div>
{% endblock %}

