{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: center;"><b>Logout, bye-bye!</b></h1>
<script type="text/javascript" src="https://platform.linkedin.com/in.js">
    api_key:   81ay9ikfzqa277
    authorize: true
    onLoad: logout
</script>

<script type="text/javascript">
    function logout() {
        IN.User.logout(function(response) {
            $.ajax({
                method: "POST",
                url: "/custom_auth/logout/",
                success : function (response) {
                    window.location.href = "/";
                },
                error : function (error) {
                    console.log("error");
                }
            });
        });
    }
</script>
{% endblock %}

