{% extends "layout/base.html" %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/comments.css' %}"> {% if forums %}
<div style="text-align: center;">
    <br>
    <label style="font-size: 30px;">Job Offers <i class="fa fa-newspaper-o" aria-hidden="true"></i>   </label><br><br>
</div>

<section name="my-list" id="my-list">
    <div class="container2">
        <div class="flex">
            {% for data in forum_with_comments %}
            <div class="flex-item animated fadeInDown">
                <div class="post">
                    <div class="list-status">
                        <div class="list-status-photo-status">
                            <a href="/company/{{data.forum.user.company_id}}/";><img class="img-circle" id="status-photo" src="{{data.forum.user.photo_url}}" style="width:50px;"></a>
                            <a href="/company/{{data.forum.user.company_id}}/";><b id="status-name">{{data.forum.user.name}}</b></a>
                        </div>
                        <div class="list-status-status">
                            {{data.forum.forum|linebreaksbr}}
                        </div>
                        <div class="list-status-date">
                            <div>{{data.forum.date_created | date:"d M Y H:i:s"}}</div>
                            <div><button onclick="toggle('#komentar-{{data.forum.id}}');" class="btn btn-primary btn-sm round">Comment</button></div>
                        </div>
                    </div>
                    <div class="komentar" id="komentar-{{data.forum.id}}">
                        <div class="comments">
                            <div class="commenting">
                                <form method="POST" action="{% url 'add-comment' %}">
                                    {% csrf_token %}
                                    <b>Comment</b><br><br>
                                    <textarea class="input form-control" type="text" name="comment"></textarea>
                                    <br>
                                    <input type="hidden" value="{{data.forum.id}}" name="forumID">
                                    <input class="btn btn-primary btn-sm round" type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                        {% if data.comments %}
                        <div class="comments">
                            {% for comment in data.comments %}
                            <div class="comment">

                                {%if comment.user != None %}
                                <div class="list-status-photo-status">
                                    <img class="img-circle" id="status-photo" src="{{comment.user.photo_url}}" style="width:50px;">
                                    <b id="status-name"> {{comment.user.name}} </b>
                                </div>
                                {% else %}

                                <div></div>

                                {% endif %}
                                <div class="comment-content">
                                    {{comment.comment}}
                                </div>
                                <div class="comment-date">
                                    {{comment.date_created | date:"d M Y H:i:s"}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %} {% if forums.has_other_pages %}
<div style="text-align: center;">
    <ul class="pagination">
        {% if forums.has_previous %}
        <li><a href="?page={{ forums.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %} {% for i in forums.paginator.page_range %} {% if forums.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if forums.has_next %}
        <li><a href="?page={{ forums.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}

<script>
    $(document).ready(function () {
        $('.komentar').hide();
    });

    function toggle(selector) {
        $(selector).slideToggle();
    }
</script>

{% endblock %}