<style type="text/css">
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #394948;
  color: #ffffff;
}

.resize-container {
  position: relative;
  display: inline-block;
  cursor: move;
  margin: 0 auto;
}

.resize-container img {
  display: block
}

.resize-container:hover img,
.resize-container:active img {
  outline: 2px dashed rgba(222,60,80,.9);
}   

</style>

<div class="container" style="text-align: center; font-size: 12px;">
	<span >Made with <span style="color: #fd0864">💔</span> and <span style="color: #fff000">&#128557;</span> by <a href="https://gitlab.com/ppw2017A-6/tugasduaasik">Norman Ganteng and the gengs</a> 
</div>