<style>
ul.nav a:hover { color: #fff !important; }

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


.round {
  border-radius: 24px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.btn btn-header{
  color: white;
}



/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}


</style>
<nav class="shift navbar bg-default scrolling-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="/" style="color:#F1C40F; font-size: 25px; font-family: 'Nunito', sans-serif;  "><b>TUGAS DUA ASIK</b></a>        
    <div id="navbar" class="navbar-collapse collapse">        
      <ul class="nav navbar-nav shift">
        <li><a href="/">Home</a></li>
        <li><a href="/forum/">Forum</a></li>
      </ul>
      {% if login %}
        <a href="/custom_auth/logout_page/" class="btn btn-primary navbar-btn navbar-right round" style="background-color:#F1C40F; color:black;">Logout</a>
        <a href="/company/{{user.company_id}}/";><img class="img-circle navbar-btn navbar-right round"  src="{{user.photo_url}}" style="margin-right: 10px; height:auto;"></a>        
      {% else %}
        <a href="/custom_auth/login_page/" class="btn btn-primary navbar-btn navbar-right round"  style="background-color:#F1C40F;color:black; ">Login</a>
      {% endif %}
      </div>
  </div>
</nav>

<script>
	$('#navbar li').click(function() {
    $(this).addClass('active').siblings('li').removeClass('active');
});
</script>
