{% extends "layout/base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<section name="input-status" id="input-status">
    <div class="container2">
        {% if messages %}
        <ul id="myAlert" class="alert alert-success animated zoomIn" role="alert">
            {% for message in messages %}
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}



        <div style="text-align: center;">
            <label style="font-size: 30px;">Forum {{user.name}} <i class="fa fa-comment-o" aria-hidden="true"></i></label><br><br>
            <button id="show-button" class="btn btn-primary btn-lg round">Add Forum</button>
        </div>
        <div id="form-input">
            <form action="{% url 'add-forum' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <textarea id="text-content" type="text" class="form-control" name="forum" rows="15" placeholder="Enter status here"></textarea>
                    <input class="btn btn-primary btn-lg round" id="submit" type="submit" value="Post" id="id_submit">
                </div>
            </form>
        </div>
    </div>
</section>




<section name="my-list" id="my-list">
    <div class="container2">
        <div class="flex">
            {% for data in forum_with_comments %} 
            {% if messages and data.forum.first %}
            <div class="flex-item animated fadeInDown">
                {% else %}
                <div class="flex-item">
                    {% endif %}
                    <div class="list-status">
                        <div class="list-status-photo-status">
                            <img class="img-circle" id="status-photo" src="{{data.forum.user.photo_url}}" style="width:50px;">
                            <b id="status-name"> {{data.forum.user.name}} </b>
                        </div>
                        <div class="list-status-status">
                            {{data.forum.forum|linebreaksbr}}
                        </div>
                        <div class="list-status-date">
                            <div>{{data.forum.date_created | date:"d M Y H:i:s"}}</div>
                            <div><button onclick="toggle('#komentar-{{data.forum.id}}');" class="btn btn-primary btn-sm round">Comment</button></div>
                        </div>
                    </div>

                    <div class="komentar" id="komentar-{{data.forum.id}}">
                        <div class="comments" id="{{data.forum.id}}">
                            <div class="commenting">
                                <form method="POST" action="{% url 'forum-add-comment' %}">
                                    {% csrf_token %}
                                    <b>Comment</b><br><br>
                                    <textarea class="input form-control" type="text" name="comment"></textarea>
                                    <br>
                                    <input type="hidden" value="{{data.forum.id}}" name="forumID">
                                    <input class="btn btn-primary btn-sm round" type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                        {% if data.comments %}
                        <div class="comments">
                            {% for comment in data.comments %}
                            <div class="comment">
                                {%if comment.user != None %}
                                <div class="list-status-photo-status">
                                    <img class="img-circle" id="status-photo" src="{{comment.user.photo_url}}" style="width:50px;">
                                    <b id="status-name"> {{comment.user.name}} </b>
                                </div>
                                {% else %}

                                <div></div>

                                {% endif %}
                                <div class="comment-content">
                                    {{comment.comment}}
                                </div>
                                <div class="comment-date">
                                    {{comment.date_created | date:"d M Y H:i:s"}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>

                    {% endfor %}

                </div>

            </div>

            {% if forums.has_other_pages %}
            <div style="text-align: center;">
                <ul class="pagination">
                    {% if forums.has_previous %}
                    <li><a href="?page={{ forum.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %} {% for i in forums.paginator.page_range %} {% if forums.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %} {% endfor %} {% if forums.has_next %}
                    <li><a href="?page={{ forums.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#form-input").hide();
        $('.komentar').hide();
        $("#show-button").click(function () {
            $("#form-input").slideToggle();
        });
    });

    function toggle(selector) {
        $(selector).slideToggle();
    }
</script>


{% endblock %}