html, body {
	overflow-x: hidden;	
}

html * {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', Arial, sans-serif;

}

#sidebar, .canvas{
	position: relative;
	top:50%;
	transform:translateY(-50%);
}

.nav ul{
	list-style-type:none;
	margin-bottom: 20px;
}

.nav ul li a {
	display: block;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	height: 200px;
	line-height: 200px;
	text-decoration:none;
	list-style:none;
	font-size:20px;
}

.nav ul li a:hover {
	color: #000;
	background-color: #eff1f2;
}

#social {
	text-align: center;
}

#name{
	margin-top: 30px;
	text-align: center;
	font-size: 12px;
	margin-left: 0px;
	
}

#createSect{
	height: 75%;
}

.image{
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	opacity: 0.8;
}

.img1 {
	background-image: url(http://www.modbar.com/wp-content/uploads/2015/02/propaganda.jpg)
}

.content h1 {
	margin: 2rem;
}

p{
	margin-top: 45px;
}

.post {
	position: relative;
	width: 60%;
	margin: 3rem auto;
	padding: 1rem;
}

.jobs {
	background-color: #72ccb9;
	border-radius: 20px;
	padding: 2rem;
}

.job-forum {
	font-size: 20px;
	margin: 2rem 0;
}

.job-date, .comment-date {
	font-size: 10px;
}

.comment-content {
	margin: 1rem 0;
}

.comments {
	position: relative;
	width: 80%;
	height: auto;
	padding: 1rem;
	clear: both;
	overflow: hidden;
}

.comments div span {
	display: inline-block;
	margin: 1rem;

}

.comment {
	background-color: #fff;
	border-radius: 20px;
	padding: 2rem;
	margin: 0.5rem 0;
}

.words {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-45%,-50%);
}

.commenting {
	position: relative;
	background-color: #90d1cc;
	border-radius: 20px;
	margin-top: 0.2rem;
	padding: 2rem;
	width: 80%;
}

.input {
	width: 100%;
}

.submit {
	background-color: #e1f7f2;
	width: 100px;
}

@media only screen and (max-width: 768px) {
  
	.nav {
		top: 0;
		width: 100%;
		height: 2rem;
	}

	.nav ul li a {
		display: block;
		height: 1rem;
	}

}