section {
  width: 90%;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  padding: 20px 20px;
  	 border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

.label-default {
  background-color: #018f83;
  border-radius: 20px;
}

td {
  padding-right: 30px;
}
