.list-status {
	width: 90%;
	margin: 20px auto;
	background: white;
	border: 0 none;
	 border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
}


.container2 {

	width: 90%;
	margin: 20px auto;
	font-size: 20px;
}


.input-group {
	width: 90%;
	margin: 20px auto;
}

#submit{
	margin: 20px auto;
}

.list-status-photo-status{
	margin-bottom: 14px;
}

#status-name {
	margin-left: 10px;
	font-size: 24px;
}

.list-status-date{
	margin-top: 14px;
	color: grey;
	font-size: 14px;
	display: flex ;
	justify-content: space-between;	
}

.img-circle {
	border-radius: 50%;
}
.round {
  border-radius: 24px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.pagination li a{
	background: #018f83;
	color: white;
}

.pagination:hover li a{
	background: white;
	color:  #007299;
}

@media only screen and (max-width: 768px) {
	.list-status {
		width: 100%;
	}
	.container {
		width: 100%;
		font-size: 16px;
	}
	.input-group {
		width: 100%;
		margin: 20px auto;
	}
	#status-name {
		font-size: 20px;
	}

	.list-status-date{
		font-size: 12px;
	}
}




.comments {
	position: relative;
	width: 80%;
	height: auto;
	padding: 1rem;
	clear: both;
	overflow: hidden;
}


.comment {
	width: 90%;
	margin: 20px auto;
	background: #FFF3C1;
	border: 0 none;
	border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
}

.comment-date{
	margin-top: 14px;
	color: grey;
	font-size: 14px;
	display: flex ;
	justify-content: space-between;	
}

.words {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-45%,-50%);
}

.commenting {
	width: 90%;
	margin:  auto;
	background: rgb(219, 227, 255);
	border: 0 none;
	border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
}


.submit {
	background-color: #e1f7f2;
	width: 100px;
}